/*--------------------
General Style
---------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  display: flex;
  height: 100vh;
justify-content: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
    color: black;
  text-align: center;
  font-size: 1em;
  padding: .5em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
}

#Types {
    align-items: left;
        padding-right: 70px;
}

#Methods {
    align-items: right;
        padding-left: 70px;

}
/*--------------------
Progress
---------------------*/

.progress-container {
	width: 300px;
	position: relative;
}

.progress {
	width: 100%;
	display: table;
}

.progress-bar-description {
    position: relative;
}
	
.progress-bar-description span {
    position: absolute;
    top: 25px;
    right: -10px;
}
	
.progress-bar {
    position: relative;
    display: block;
    height: 20px;
    top:-10px;
}
	
.progress-bar .progress-bar-outer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #2661c3;
}

	
.progress-bar .progress-bar-outer .progress-bar-inner {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
}